# macOS trash
__MACOSX/
.DS_Store
._*

# LARGE DATASETS (IGNORE)
SD-128/
SD-128/images/
images/

# IGNORE IMAGE FILES EXCEPT SMALLS USED FOR DOCS
*.jpg
*.jpeg
*.png
*.gif
*.bmp

# Jupyter metadata
.ipynb_checkpoints/
__pycache__/

# Model checkpoints (TO IGNORE)
*.h5
*.ckpt
*.weights

# DO NOT IGNORE .npy  (needed by ML)
# DO NOT IGNORE .pdf  (project report)
# DO NOT IGNORE .ipynb
# DO NOT IGNORE .py

# Virtual environments
venv/
env/
