# Ignore macOS metadata folders
__MACOSX/
._*
.DS_Store

# Ignore entire SD-128 dataset folder
SD-128/
SD-128/images/

# Ignore any image folders
images/
*.jpg
*.jpeg
*.png
*.bmp
*.gif

# Jupyter junk
.ipynb_checkpoints/
__pycache__/

# Model files
*.h5
*.ckpt
*.weights
*.pkl
*.npy

# Virtual env folders
venv/
env/
